{
  "parser": "babel-eslint",
  "plugins": ["react"],
  "extends": ["airbnb"],
  "env": {
    "browser": true
  },
  "rules": {
    "no-undef": [1],
    "react/prefer-stateless-function": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ]
  }
}
