{
  "parser": "babel-eslint",
  "plugins": ["react"],
  "extends": ["airbnb"],
  "env": {
    "browser": true
  },
  "rules": {
    "no-undef": [1],
    "no-console": ["error", { "allow": ["warn", "error", "info"] }],
    "react/prefer-stateless-function": 0,
    "react/jsx-one-expression-per-line": 0,
    "no-underscore-dangle": 0,
    "max-len": 0,
    "jsx-a11y/no-noninteractive-tabindex": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ]
  }
}
